<!DOCTYPE html>
<html lang="en">
<head th:replace="plantilla/template :: head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container col-6 shadow-lg p-3 mb-5 bg-body rounded">
  <h2 th:text="${titulo}"></h2>
  <form th:action="@{/views/employe/guardar}"   th:object="${employe}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" th:field="*{name}" class="form-control" id="name"/>
    </div>
    <div class="form-group">
      <label for="phone">Teléfono</label>
      <input type="text" th:field="*{phone}" class="form-control" id="phone"/>
    </div>
    <div class="form-group">
      <label for="email">Correo</label>
      <input type="text" th:field="*{email}" class="form-control" id="email"/>
    </div>

    <!--<div class="form-group">
      <br>
      <label for="file">Imagen</label>
      <input type="file" name="file" id="file" multiple onchange="processSelectedFiles(this)">
    </div>
    <div class="form-group">
      <br>
      <input type="text" name="res" th:field="*{image}" class="form-control" id="res" style="display:none" />
    </div>-->

    <div class="form-group">
      <label for="enterprise">Enterprise</label>
      <select th:field="*{enterprise}" class="form-control" id="enterprise">
        <option value="1">--Selecione--</option>
        <option th:each="en:${enterprise}"
                th:value="${en.id}"
                th:text="${en.name}"
        />

      </select>
    </div>
    <div class="form-group">
      <label for="rol">Cargo</label>
      <select th:field="*{rol}" class="form-control" id="rol">
        <option value="1">--Selecione--</option>
        <option th:each="r:${rol}"
                th:value="${r.id}"
                th:text="${r.rol}"
        />

      </select>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Guardar"/>
    <a class="btn btn-secondary" th:href="@{/views/employe/}" title="Cancelar">Cancelar</a>
  </form>
</div>
<script>
function processSelectedFiles(fileInput) {
  var files = fileInput.files;

  for (var i = 0; i < files.length; i++) {
    alert("Filename " + files[i].name);
    document.getElementById('res').value= files[i].name;
  }
}
</script>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>