<!DOCTYPE html>
<html lang="en">
<head th:replace="plantilla/template :: head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container">
  <h1 th:text="${titulo}"></h1>
  <form th:action="@{/views/employe/guardar}"   th:object="${employe}"  method="post">
    <input type="hidden" th:field="*{id}">

    <div class="form-group">
      <label for="email">Correo</label>
      <input type="text" th:field="*{email}" class="form-control" id="email"/>
    </div>
    <div class="form-group">
      <label for="enterprise">Enterprise</label>
      <select th:field="*{enterprise}" class="form-control" id="enterprise">
        <option value="1">--Selecione--</option>
        <option th:each="en:${enterprise}"
                th:value="${en.id}"
                th:text="${en.name}"
        />

      </select>
    </div>
    <div class="form-group">
      <label for="profile">Perfil</label>
      <select th:field="*{profile}" class="form-control" id="profile">
        <option value="1">--Selecione--</option>
        <option th:each="pr:${profile}"
                th:value="${pr.id}"
                th:text="${pr.phone}"
        />
      </select>
    </div>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Guardar"/>
    <a class="btn btn-secondary" th:href="@{/views/employe/}" title="Cancelar">Cancelar</a>
  </form>
</div>

<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>